body {
  background: #fafafa;
  color: #333;
  padding-bottom: 12rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: .6em;
}

.glyphicon-eye-open {
    margin-right: 15px;
    font-size: 30px;
    color: #ccc;
}
