<div ng-include="steps.url" ng-init="steps.stop='two'"></div>

<p ng-bind-html-unsafe="steps.learned.title | markdown"></p>
<p ng-bind-html-unsafe="steps.learned.text | markdown"></p>

<div role="form">
  <div class="form-group">
    <textarea class="form-control" name="learned" rows="15" ng-model="data.learned"></textarea>
    <small><em>Markdown formatting accepted.</em></small>
  </div>
  <a href="#/challenges" type="button" class="btn btn-primary pull-right">Next</a>
  <a href="#/preview" title="preview" class="glyphicon glyphicon-eye-open pull-right"></a>
</div>