<div class="overview">  
  <p><strong><a href="#/success">Recent Successes</a></strong> – Gloat, it's good for ya. Note even the small successes. It's also very good Karma to mention the team members that helped.</p>
  
  <p><strong><a href="#/learned">Things I’ve Learned Recently</a></strong> – Keep in mind both professional AND personal things here. If you've suddenly realized that personal hygene relates to your coworkers and friends, shout it out. Here are some topics to help prime your thinking: Professional might include: InDesign functionality, deepening of a core skill, coding skills evolution, client management wizardry, and other things related to your job role. Personal skills might cover: time management, associate mentorship, social skills, and company culture perspectives.</p>
  
  <p><strong><a href="#/challenges">Current Challenges</a></strong> – Everybody has 'em. Talking openly about challenges provides you the opportunity to get direct mentorship (something not to miss) from your manager or mentor and helps to clarify things for them to focus on. Course the goal is that items under “Current Challenges” move up to “Things I’ve Learned Recently.”
</p>
  
  <p><strong><a href="#/projects">Project Updates/Reviews</a></strong> – This is not a postmortem, or chance to sneak a project meeting. This conversation should focus on personal and career development, not status updates. Topics and concepts that come up in the context of projects, but live beyond the context of a specific client. Try answering these questions to get yourself started:
  <ul>
    <li>Are your projects on time?</li>
    <li>How is your workload?</li>
    <li>How goes your collaboration with peers?</li>
    <li>Are there unexpected elements to any of your projects?</li>
  </ul></p>
  
  <p><strong><a href="#/objectives">Annual Development Objectives</a></strong> – Identify skills you would like to develop or opportunities you would like to experience. This may not change very often, but it serves as a reminder to discuss opportunities to develop.</p>
  
  <p><strong><a href="#/feedback">Feedback for Your Manager</a></strong> – Time to provide some feedback to your manager. Again, be honest everybody can improve what they do. Honesty is the start.</p>
</div>
<p class="text-center">
  <a href="#/success" type="button" class="btn btn-primary">Start</a>
</p>