<div ng-include="steps.url" ng-init="steps.stop='five'"></div>
<p><strong>Annual Development Objectives</strong> – Identify skills you would like to develop or opportunities you would like to experience. This may not change very often, but it serves as a reminder to discuss opportunities to develop.</p>
<div role="form">
  <div class="form-group">
    <textarea class="form-control" name="objectives" rows="15" ng-model="data.objectives"></textarea>
    <small><em>Markdown formatting accepted.</em></small>
  </div>
  <a href="#/feedback" type="button" class="btn btn-primary pull-right">Next</a>
  <a href="#/preview" title="preview" class="glyphicon glyphicon-eye-open pull-right"></a>
</div>