<div ng-include="steps.url" ng-init="steps.stop='seven'"></div>
<p>Copy and paste the following into an email to <a href="mailto:seth@lullabot.com" target="_blank">Seth</a>. <br /> 
  You can also view the <a href="#/preview-md">markdown version</a>.</p>
<div class="preview">
  <p>
    <h2>Recent Successes <small><a href="#/success" class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>Gloat, it's good for ya. Note even the small successes. It's also very good Karma to mention the team members that helped.</blockquote>
    <span ng-bind-html-unsafe="data.success|markdown"></span></p>
  
  <p>
    <h2>Things I’ve Learned Recently <small><a href="#/learned"class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>Keep in mind both professional AND personal things here. If you've suddenly realized that personal hygene relates to your coworkers and friends, shout it out. Here are some topics to help prime your thinking: Professional might include: InDesign functionality, deepening of a core skill, coding skills evolution, client management wizardry, and other things related to your job role. Personal skills might cover: time management, associate mentorship, social skills, and company culture perspectives.</p></blockquote>
    <span ng-bind-html-unsafe="data.learned|markdown"></span></p>
  
  <p>
    <h2>Current Challenges <small><a href="#/challenges" class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>Everybody has 'em. Talking openly about challenges provides you the opportunity to get direct mentorship (something not to miss) from your manager or mentor and helps to clarify things for them to focus on. Course the goal is that items under “Current Challenges” move up to “Things I’ve Learned Recently.”</blockquote>
    <span ng-bind-html-unsafe="data.challenges|markdown"></span></p>
  
  <p>
    <h2>Project Updates/Reviews <small><a href="#/projects" class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>This is not a postmortem, or chance to sneak a project meeting. This conversation should focus on personal and career development, not status updates. Topics and concepts that come up in the context of projects, but live beyond the context of a specific client. Try answering these questions to get yourself started:
  <ul>
    <li>Are your projects on time?</li>
    <li>How is your workload?</li>
    <li>How goes your collaboration with peers?</li>
    <li>Are there unexpected elements to any of your projects?</li>
  </ul></blockquote>
    <span ng-bind-html-unsafe="data.projects|markdown"></span></p>
  
  <p>
    <h2>Annual Development Objectives <small><a href="#/objectives" class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>Identify skills you would like to develop or opportunities you would like to experience. This may not change very often, but it serves as a reminder to discuss opportunities to develop.</blockquote>
    <span ng-bind-html-unsafe="data.objectives|markdown"></span></p>
  
  <p>
    <h2>Feedback for Your Manager <small><a href="#/feedback" class="glyphicon glyphicon-pencil"></a></small></h2>
    <blockquote>Time to provide some feedback to your manager. Again, be honest everybody can improve what they do. Honesty is the start.</blockquote>
    <span ng-bind-html-unsafe="data.feedback|markdown"></span></p>
</div>