<div class="row"><div class="col-xs-12">
  <div ng-include="'views/steps.html'"></div>
</div></div>

<div class="row"><div class="col-xs-12">
  <div ng-include="'/views/user-copy-action.html'"></div>
</div></div>

<div class="row"><div class="col-xs-12">
  <ul class="nav nav-tabs">
    <li><a href="#/preview">HTML Version</a></li>
    <li class="active"><a href="#/preview-md">Markdown Version</a></li>
  </ul>
</div></div>

<div class="row"><div class="col-xs-12">
  <div class="preview">
    <div class="form-group">
      <textarea class="results form-control" name="preview-md" rows="15" ng-bind="getPreview()"></textarea>
      <small><em>Note that all edits here are not persistent.</em></small>
    </div>
  </div>
</div></div>