<div ng-include="steps.url" ng-init="steps.stop='four'"></div>
<p><strong>Project Updates/Reviews</strong> – This is not a postmortem, or chance to sneak a project meeting. This conversation should focus on personal and career development, not status updates. Topics and concepts that come up in the context of projects, but live beyond the context of a specific client. Try answering these questions to get yourself started:
  <ul>
    <li>Are your projects on time?</li>
    <li>How is your workload?</li>
    <li>How goes your collaboration with peers?</li>
    <li>Are there unexpected elements to any of your projects?</li>
  </ul></p>
<div role="form">
  <div class="form-group">
    <textarea class="form-control" name="projects" rows="15" ng-model="data.projects"></textarea>
    <small><em>Markdown formatting accepted.</em></small>
  </div>
  <a href="#/objectives" type="button" class="btn btn-primary pull-right">Next</a>
  <a href="#/preview" title="preview" class="glyphicon glyphicon-eye-open pull-right"></a>
</div>