<div ng-include="steps.url" ng-init="steps.stop='one'"></div>

<p ng-bind-html-unsafe="steps.success.title | markdown"></p>
<p ng-bind-html-unsafe="steps.success.text | markdown"></p>

<div role="form">
  <div class="form-group">
    <textarea class="form-control" name="success" rows="15" ng-model="data.success"></textarea>
    <small><em>Markdown formatting accepted.</em></small>
  </div>
  <a href="#/learned" type="button" class="btn btn-primary pull-right">Next</a>
  <a href="#/preview" title="preview" class="glyphicon glyphicon-eye-open pull-right"></a>
</div>