// Bootstrap variables
$font-size-base:   16px;
$line-height-base: 1.8;
$grid-gutter-width: 50px;
$container-sm: 480px;
$container-md: 640px;
$container-lg: 720px;
$screen-sm-min: 480px;
$screen-md-min: 640px;
$screen-lg-min: 768px;
