// Bootstrap variables
$font-size-base:   16px;
$line-height-base: 1.8;
$grid-gutter-width: 50px;
$container-tablet: 720px;
$container-desktop: $container-tablet;
$container-large-desktop: $container-tablet;
