<div class="row">
  <div ng-include="'views/steps.html'"></div>
</div>

<div class="row">
  <div ng-include="'/views/user-copy-action.html'"></div>
</div>

<div class="row">
  <ul class="nav nav-tabs">
    <li><a href="#/preview">HTML Version</a></li>
    <li class="active"><a href="#/preview-md">Markdown Version</a></li>
  </ul>
</div>

<div class="row">
  <div class="preview">
    <div class="form-group">
      <div class="results" name="preview-md" rows="15" ng-repeat="step in steps">
        {{step.title}}<br>
        {{step.text}}<br>
        {{data[step.path]}}
      </div>
      <small><em>Note that all edits here are not persistent.</em></small>
    </div>
  </div>
</div>