<div class="row">
  <div ng-include="'views/steps.html'"></div>
</div>

<div class="row">
  <div ng-include="'/views/user-copy-action.html'"></div>
</div>

<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#/preview">HTML Version</a></li>
    <li><a href="#/preview-md">Markdown Version</a></li>
  </ul>
</div>

<div class="row">
  <div class="preview" ng-repeat="step in steps">
    <div ng-bind-html="step.title | markdown"></div>
    <div ng-bind-html="step.text | markdown"></div>
    <div ng-bind-html="data[step.path] | markdown"></div>
  </div>
</div>