<div class="row">
  <div class="col-md-12">
    <ul id='progress_bar' class='step_{{ steps.stop }}'>
      <li><a href="#/success">Successes</a></li>
      <li><a href="#/learned">Learned</a></li>
      <li><a href="#/challenges">Challenges</a></li>
      <li><a href="#/projects">Projects</a></li>
      <li><a href="#/objectives">Objectives</a></li>
      <li><a href="#/feedback">Feedback</a></li>
      <li><a href="#/preview">Preview</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well well-sm" clock></div>
  </div>
</div>
