<div class="row">
  <div class="col-md-12">
    <ul class="steps nav nav-tabs nav-justified step_{{ steps.stop }}">
      <li ng-class="{active: steps.stop == 'one'}"><a href="#/success">Successes</a></li>
      <li ng-class="{active: steps.stop == 'two'}"><a href="#/learned">Learned</a></li>
      <li ng-class="{active: steps.stop == 'three'}"><a href="#/challenges">Challenges</a></li>
      <li ng-class="{active: steps.stop == 'four'}"><a href="#/projects">Projects</a></li>
      <li ng-class="{active: steps.stop == 'five'}"><a href="#/objectives">Objectives</a></li>
      <li ng-class="{active: steps.stop == 'six'}"><a href="#/feedback">Feedback</a></li>
      <li ng-class="{active: steps.stop == 'seven'}"><a href="#/preview">Preview</a></li>
    </ul>
  </div>
</div>
<h3 class="clock"><span class="label label-default" clock></span></h3>